.alt-tag-required{position:relative;}
.alt-tag-required-text{position:absolute;bottom:0;left:0;width:100%;background:#ff8f2b;color:#ffffff;padding:7px;box-sizing:border-box;text-align:center;font-weight:bold;}
.alt-tag-required-text:before{content:'\f071';font-family:fontawesome;padding-right:10px;}